.mat-toolbar h1 {
  font-size: 25px;
}

.header{
  width: 100%;
  display: flex;
  .header-title{
    width: 70%;
  }
  .header-links{
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
    width: 30%;
  }
}


