<mat-tab-group>
  <mat-tab label="MARTA North & South Trains">
    <ng-template mat-tab-label>
      <h3>
        <i class="fa fa-subway"></i> MARTA North & South Rail</h3>
    </ng-template>
    <app-train-schedule-results *ngIf="!serviceFailed else serviceFailedTemplate "
                                [parsedTrainStationList]="northSouthBound"
                                [directions]="northSouth"></app-train-schedule-results>
  </mat-tab>
  <mat-tab label="East/West Bound Train">
    <ng-template mat-tab-label>
      <h3>
        <i class="fa fa-subway"></i> MARTA East & West Rail</h3>
    </ng-template>
    <app-train-schedule-results *ngIf="!serviceFailed else serviceFailedTemplate"
                                [parsedTrainStationList]="eastWestBound"
                                [directions]="eastWest"></app-train-schedule-results>
  </mat-tab>

  <mat-tab label="East/West Bound Train">
    <ng-template mat-tab-label>
      <h3>
        <i class="fa fa-bus"></i> MARTA Buses</h3>
    </ng-template>
    <section class="coming-soon">
      <h1>Coming Soon.</h1>
      <h3>Please check back again.</h3>
    </section>
  </mat-tab>
</mat-tab-group>


<ng-template #serviceFailedTemplate>
  <section class="service-failed">
    <h1><i class="fa fa-frown-o fa-4x"></i></h1>
    <h1>Service Unavailable.</h1>
    <button mat-raised-button color="primary" (click)="ngOnInit()">Try Again</button>
  </section>
</ng-template>
