.GOLD {
  color: gold;
}

.BLUE {
  color: blue;
}

.RED {
  color: red;
}

.GREEN {
  color: green;
}

.boarding {
  color: #8BC34A;
}

.card-arrow {
  position: absolute;
  left: -16px;
  top: 1px;
  color: white;
}

.title {
  color: #424242;
}
