@use '@angular/material' as mat;
@import '~@covalent/core/theming/all-theme';
@import '~@covalent/core/common/platform.css';

// Define a custom typography config that overrides the font-family
// or any typography level.
$typography: mat.define-typography-config(
  $font-family: 'Roboto, sans-serif',
  $headline: mat.define-typography-level(32px, 48px, 700)
);

@include mat.core($typography); // $typography is an **optional** argument for the mat-core


$primary3: mat.define-palette(mat.$blue-grey-palette);
$accent3: mat.define-palette(mat.$deep-orange-palette);
$warn3: mat.define-palette(mat.$red-palette, 600);

$blue-grey-deep-orange: mat.define-light-theme($primary3, $accent3, $warn3);

@include mat.all-component-themes($blue-grey-deep-orange);
@include covalent-theme($blue-grey-deep-orange);


// Active icon color in list nav
mat-nav-list {
  [mat-list-item].active {
    mat-icon[matListAvatar] {
      background-color: mat.get-color-from-palette($accent3);
      color: mat.get-color-from-palette($accent3, default-contrast)
    }

    mat-icon[matListIcon] {
      color: mat.get-color-from-palette($accent3);
    }
  }
}
