<td-layout>
  <td-layout-nav logo="assets:teradata" toolbarTitle="Atlanta Transit Helper" navigationRoute="/">

    <mat-tab-group>
    <mat-tab label="North/South Bound Train">
    <div layout-gt-xs="row" layout-margin>
    <div flex-gt-xs="60">
    <mat-card>Simple card</mat-card>
    </div>
    <div flex-gt-xs="40"><mat-card>Simple card</mat-card></div>
    </div>
    <div layout-gt-xs="row" layout-margin>
    <div flex-gt-xs="60">
    <mat-card>Simple card</mat-card>
    </div>
    <div flex-gt-xs="40"><mat-card>Simple card</mat-card></div>
    </div>
    <div layout-gt-xs="row" layout-margin>
    <div flex-gt-xs="60">
    <mat-card>Simple card</mat-card>
    </div>
    <div flex-gt-xs="40"><mat-card>Simple card</mat-card></div>
    </div>
    <div layout-gt-xs="row" layout-margin>
    <div flex-gt-xs="60">
    <mat-card>Simple card</mat-card>
    </div>
    <div flex-gt-xs="40"><mat-card>Simple card</mat-card></div>
    </div>
    <div layout-gt-xs="row" layout-margin>
    <div flex-gt-xs="60">
    <mat-card>Simple card</mat-card>
    </div>
    <div flex-gt-xs="40"><mat-card>Simple card</mat-card></div>
    </div>
    <div layout-gt-xs="row" layout-margin>
    <div flex-gt-xs="60">
    <mat-card>Simple card</mat-card>
    </div>
    <div flex-gt-xs="40"><mat-card>Simple card</mat-card></div>
    </div>
    <div layout-gt-xs="row" layout-margin>
    <div flex-gt-xs="60">
    <mat-card>Simple card</mat-card>
    </div>
    <div flex-gt-xs="40"><mat-card>Simple card</mat-card></div>
    </div>
    </mat-tab>
    <mat-tab label="East/West Bound Train">Content 2</mat-tab>
    </mat-tab-group>
    <!--<mat-toolbar class="pad-none">-->
      <!--<nav  mat-stretch-tabs mat-tab-nav-bar class="pull-bottom-xl pull-top-md text-upper" flex>-->
        <!--<a mat-tab-link [active]="true">-->
          <!--<span hide-xs>Home</span>-->
          <!--<span hide-gt-xs><mat-icon>home</mat-icon></span>-->
        <!--</a>-->
        <!--<a mat-tab-link>-->
          <!--<span hide-xs>Technology</span>-->
          <!--<span hide-gt-xs><mat-icon>laptop_mac</mat-icon></span>-->
        <!--</a>-->
        <!--<a mat-tab-link>-->
          <!--<span hide-xs>Locations</span>-->
          <!--<span hide-gt-xs><mat-icon>language</mat-icon></span>-->
        <!--</a>-->
        <!--<a mat-tab-link>-->
          <!--<span hide-xs>Job Openings</span>-->
          <!--<span hide-gt-xs><mat-icon>assignment</mat-icon></span>-->
        <!--</a>-->
        <!--<a mat-tab-link>-->
          <!--<span hide-xs>Leadership</span>-->
          <!--<span hide-gt-xs><mat-icon>people</mat-icon></span>-->
        <!--</a>-->
      <!--</nav>-->
    <!--</mat-toolbar>-->
  </td-layout-nav>
</td-layout>


<!--<td-layout-card-over cardTitle="Select Category">-->

<!--</td-layout-card-over>-->
