.mat-form-field {
  width: 100%;
}

.padding-left-30 {
  padding-left: 30px;
}

[layout-gt-xs="row"]:not(:first-child) {
  padding-left: 30px;
}

.example-form {
  padding-top: 30px;
}

.upcoming {
  color: #424242;
}

.mat-button-toggle-group-appearance-standard {
  margin-top: 10px;
  margin-bottom: 10px;
}
