@import 'theme';


body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background: #eeeeee !important;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-content {
  font-family: Roboto, sans-serif;
  background: #eeeeee !important;
  flex: 1;
}


mat-toolbar-row {
  justify-content: space-between;
}

.mat-tab-body-content {
  height: 100%;
}

.refresh {
  position: fixed;
  bottom: 115px;
  right: 20px;
  color: white;
}


